* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    /* CHANGE THE FONT BECAUSE ITS SHIT */
}

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header2 {
    min-height: 80vh;
    width: 100.5%;
    background-image: url('https://media.discordapp.net/attachments/1105228545388728401/1105231145756528670/mustang_gulf_ev_2_ed-OL2A7324.jpg?width=718&height=478');
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    text-shadow: 3px 3px 3px rgb(71, 71, 71);
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box h1::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: #102dd3;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.gallery {
    padding-top: 3%;
    width: 50%;
    padding-left: 100px;
}

.gallery-head h2 {
    font-size: 48px;
}

.gallery-head h3 {
    color: darkorange;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gallery-head p {
    padding-top: 16px;
    padding-bottom: 16px;
}

.gallery ul {
    padding-top: 2%;
    list-style: none;
    border: #fff;
}

.gallery a {
    color: black;
    transition: 0.5s;
}

.gallery a:hover {
    color: red;
}

.arrow {
    border: solid darkorange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
@media screen and (max-width: 1000px) {
    .gallery {
        padding-top: 3%;
        width: 90%;
        padding-left: 0px;
        margin: 5%;
    }
}
