* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    /* CHANGE THE FONT BECAUSE ITS SHIT */
}

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header2{
    min-height: 80vh;
    width: 100.5%;
    background-position: center;
    background-size: cover;
    position: relative;
}
#second-pic {
    background-image: url('https://cdn.discordapp.com/attachments/1105174871857696899/1105208810030776401/Anniversary_2_2022_ediet_part_1-1X9A4225.jpg');
}
#cancer-pic {
    background-image: url('https://media.discordapp.net/attachments/1105220575997198346/1105220843136618546/mcfifa2022_ed_2-1X9A3178.jpg?width=718&height=478');
}
#mustang-ani-pic {
    background-image: url('https://media.discordapp.net/attachments/1105228545388728401/1105231143172837376/mustang_gulf_ev_2_ed-OL2A7104.jpg?width=718&height=478');
}
#qcs-pic {
    background-image: url('https://media.discordapp.net/attachments/1105226269957824522/1105227067873820692/New_folder-1X9A5773.jpg?width=718&height=478 ');
}
#worldcup-pic {
    background-image: url("https://cdn.discordapp.com/attachments/1105123304177668217/1105616691855101962/mustang_mawater-1X9A8415.jpg");
}
#sportsday-pic {
    background-image: url('https://media.discordapp.net/attachments/1105228545388728401/1105230085964959955/MUSTANG_GULF_ED-OL2A6335.jpg?width=718&height=430');
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    text-shadow: 3px 3px 3px rgb(71, 71, 71);
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box h1::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: #102dd3;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


.headergallery {
    padding: 50px 10px 0px 100px;
}

.headergallery h2 {
    font-size: 48px;
}

.headergallery h3 {
    font-size: 28px;
    color: orange;
    padding-top: 10;
}

.gallery-images {
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 5%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.gallery-images img {
    width: 100%;
}
@media(max-width: 700px) {
    .headergallery {
        padding: 50px 10px 0px 25px;
    }
}