.gallery{
    color: black;
    text-align: center;
    padding: 25px;
    padding-top: 1dvh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: auto;
}
