* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    /* CHANGE THE FONT BECAUSE ITS SHIT */
}

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header2 {
    min-height: 80vh;
    width: 100.5%;
    background-image: url('https://media.discordapp.net/attachments/1090207758411898941/1104829361900765184/Photo3.png?width=1440&height=473');
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    text-shadow: 3px 3px 3px rgb(71, 71, 71);
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box h1::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: #102dd3;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Below is the Main Sponsors Section */

.title {
    position: relative;
    display: flex;
    color: black;
    text-align: left;
    margin-left: 10%;
    align-items: center;
}

.title h1 {
    margin-top: 50px;
    font-size: 55px;
    font-weight: 800;
    color: darkblue;
    z-index: 1;
}

.main {
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Styles for product card*/

.product .product-card {
    z-index: 1;
    background: #1D212B;
    position: relative;
    width: 300px;
    height: 360px;
    margin: 40px;
    border-radius: 10px;
}

.product .product-card:before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
    z-index: 1;
    position: absolute;
    max-width: 350px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product .product-card .name {
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 100px;
    font-size: 20px;
    letter-spacing: 1px;
}

.product .product-card .popup-btn {
    z-index: 2;
    color: #fff;
    background: #555;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/*Styles for popup view*/

.product .popup-view {
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.product .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.product .popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.product .popup-card .product-img {
    z-index: 2;
    background: #1D212B;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
    z-index: 2;
    position: relative;
    width: 450px;
    left: -50px;
}

.product .popup-card .info {
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup-card .close-btn {
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}

.product .popup-card .info h2 span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup-card .info p {
    font-size: 15px;
    margin: 10px;
}

.product .popup-card .info .add-cart-btn {
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}

/*Responsive styles*/

@media (max-width: 900px) {
    .product .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto;
    }

    .product .popup-card .product-img {
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product .popup-card .product-img img {
        left: initial;
        max-width: 100%;
    }

    .product .popup-card .info {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .product .popup-card .info h2 {
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }

    .product .popup-card .info h2 span {
        font-size: 10px;
    }

    .product .popup-card .info p {
        margin: 5px;
        font-size: 13px;
    }

    .product .popup-card .info .add-cart-btn {
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    }

    .product .popup-card .close-btn {
        z-index: 4;
    }
}


@media screen and (max-width: 900px) {
    .title h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 420px) {
    .title h1 {
        font-size: 35px;
    }
}